/* Modals
   ========================================================================== */


.modal-title {
	font-weight: 400;
	color: $gray-base;
}

.modal-content {
	color: $gray-base;
}

